<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/index.css">

    <script src="https://kit.fontawesome.com/e5ae4ecceb.js" crossorigin="anonymous"></script>

    <title>DH Tech</title>
</head>
<body>
    <header class="header container">
        <div class="header-arriba">
            <div class="logo-container">
                <img src="./images/logo-original.jpg" alt="DH Tech - Logo">
            </div>
            <div class="header-icons">
                <i class="fa-solid fa-user"></i>
                <i class="fa-solid fa-cart-shopping"></i>
            </div>
            <div id="menuBtn" class="burguer-menu">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
        <nav id="menu" class="menu">
            <ul class="menu-links">
                <li class="menu-link">
                    <a href="#">Inicio</a>
                </li>
                <li class="menu-link">
                    <a href="#">Componentes</a>
                </li>
                <li class="menu-link">
                    <a href="#">PC Armadas</a>
                </li>
                <li class="menu-link">
                    <a href="#">Mi cuenta</a>
                </li>
                <li class="menu-link">
                    <a href="#">Carrito</a>
                </li>
                <li class="menu-link">
                    <a href="#">Login</a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="container"></main>
    <footer class="container"></footer>
    
    <script src="./js/index.js"></script>
</body>
</html>