<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/login.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <!-- Agregar navbar -->
    </header>

    <main>
      <h1>Ingresa a tu cuenta</h1>
      <section class="formulario-login">
        <h2>LOGIN</h2>
        <form action="#" id="formLogin">
          <label for="nombreUsuario">Nombre de usuario</label>
          <div class="input-campo">
            <i class="fa-solid fa-user"></i>
            <input
              type="text"
              id="nombreUsuario"
              name="nombreUsuario"
              placeholder="Tu usuario"
              required
              minlength="5"
              maxlength="35"
            />
          </div>

          <label for="contraseniaUsuario">Contraseña</label>
          <div class="input-campo">
            <i class="fa-solid fa-lock"></i>
            <input
              type="password"
              id="contraseniaUsuario"
              name="contraseniaUsuario"
              placeholder="Tu contraseña"
              required
              minlength="8"
              maxlength="16"
            />
          </div>
          <div class="btn-enviar">
            <button type="submit">Ingresar</button>
          </div>
        </form>
      </section>
    </main>
    <footer>
      <!-- Agregar footer del sitio -->
    </footer>
    <script src="./login.js"></script>
  </body>
</html>
