<!DOCTYPE html>
<html>
<head>
    <title>Medios de Pago</title>
</head>
<body>
    <h1>Medios de Pago</h1>
    <ul>
        <li>
            <h2>Transferencia bancaria</h2>
            <p>Con este método se descuenta un 10% del valor de la compra.</p>
        </li>
        <li>
            <h2>Tarjeta de crédito</h2>
            <p>Aceptamos todas las tarjetas y tenemos 3 y 6 cuotas sin interés. También tenemos la posibilidad de 12 cuotas con interés.</p>
        </li>
        <li>
            <h2>Tarjeta de débito</h2>
            <p>Con este método se descuenta un 10% del valor de la compra.</p>
        </li>
    </ul>
    <% include('./views/partials/footer.html') %>
</body>
</html>
