<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>
<body>
    <h2>Registro de Usuario</h2>
    <form action="#">
        <div>
            <label for="nombre">Nombre</label>
            <input id="nombre" name="nombre" type="text">
        </div>
        <div>
            <label for="apellido">Apellido</label>
            <input id="apellido" name="apellido" type="text">
        </div>
        <div>
            <label for="fechaNacimiento">Fecha de Nacimiento</label>
            <input id="fechaNacimiento" name="fechaNacimiento" type="date">
        </div>
        <div>
            <label for="numeroTelefono">Numero de Telefono</label>
            <input id="numeroTelefono" name="numeroTelefono" type="number">
        </div>
        <div>
            <label for="correo">E-Mail</label>
            <input id="correo" name="correo" type="email">
        </div>
            <h4>Tus Intereses</h4>
            <div>
                <label for="">Hogar</label>
                <input type="checkbox" id="intereses" name="hogar">
                <label for="gadgets"></label>
                <input type="checkbox" id="intereses" name="intereses">
                <label for="monitores"></label>
                <input type="checkbox" id="intereses" name="intereses">
                <label for="perifericos"></label>
                <input type="checkbox" id="intereses" name="intereses">
                <label for="almacenamiento"></label>
                <input type="checkbox" id="intereses" name="intereses">
            </div>
                
    </form>
</body>
</html>
