
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Lato', sans-serif;     
}

header {
    background-color: #eae7de;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    position: fixed;
}

.logo-titulo {
    background-color: #eae7de;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    white-space: nowrap;
    cursor: pointer;
}

#logo {
    height: 100%;
}


.iconos-header {
    background-color: #eae7de;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;  
    justify-content: flex-end;
}

.iconos-header i {
    font-size: 30px;
    background-color: #eae7de;
    margin-right: 2vw;
    cursor: pointer;
    color: #3483FA;
    transition: all 1000ms;
}

.iconos-header i:hover {
    font-size: 40px;
    color: rgb(55, 206, 206);    
}

.barra {
    background-color: #eae7de;
    width: 100%;
    height: 30%;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2%;
    border-bottom: 2px solid rgb(204, 203, 203);
}

.escritorio {
    display: flex;
    background-color: #3483FA;    
    width: 120px;
    height: 35px;
    border: 5px solid #3483FA;
    border-radius: 20px;    
    justify-content: center;
    align-items: center; 
    margin-right: 1vw;     
    transition: all 1000ms;  
}

.escritorio:hover {
    background-color: rgb(55, 206, 206);
    border: 5px solid white;
}

.escritorio a {
    text-decoration: none;
    font-size: 12px;   
    color: white;
}

#carrito {
    display: none;
}


h1 {        
    font-size: 40px;
}


@media (min-width: 768px) {

    header {
        height: 10vh;
        align-items: flex-start;
    }

    .logo-titulo {
        height: 70%;
        width: 55%;
        display: flex;
        justify-content: flex-end;    
    }

    .iconos-header {        
       height: 70%;
       width: 45%;
    }

    .iconos-header i {
        font-size: 25px;
    }

    .barra {
       display: flex;
    }   

    #menu {
        display: none;
    }

    #carrito {
        display: block;        
    }

    .contenedor-boton {
        display: block;       
    }

    .escritorio {
        margin-bottom: 5%;
    }     

}
