
/* GENERALES */
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    font-family: 'Lato';
}

.container {
    max-width: 1000px;
    width: 90vw;
    margin: 0 auto;
}

.titulos {
    font-size: 1.5rem;
}
/*============================================================================================================================================*/
/* Nuevo header */

.main-header {
    background-color: #eae7de;
    padding: 20px;
}
/* Estilo del logo */
.logo {
    width: 80px;
}

/* Estilo del Nombre */
.nombre {
    text-align: center;
}

/* Estilo para botones de navegacion */
.main-header-bottom ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-header-bottom a {
    text-decoration: none;
    color: #3483FA;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}

/* Oculta la Barra de Navegacion */
.main-header-bottom {
    display: none;
}

/* Estilo para el Boton Hamburguesa */
.hamburguer-button {
    background-color: #eae7de;
    color: #3483FA;
    display: block;
    max-width: 40px;
    padding: 10px 0px;
    text-align: center;
    font-size: 30px;
    margin: auto;
}

/* Media Query para Escritorio */
@media (min-width: 768px){
    .main-header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    /* Logo, titulo y class access-point */
    .main-header-top {
        display: flex;
        border: solid 3px blue;
        justify-content: space-between;
    }
    
    /* Estilos para Login, Crear Cuenta, Mi Carrito */
    .access-point {
        list-style: none;
        text-align: right;
    }
    
    .access-point a {
        text-decoration: none;
        color: #3483FA;
        display: inline-block;
        font-size: 17px;
    }
    
    /* Oculta el Boton Hamburguesa */
    .hamburguer-button {
        display: none;
    }
    
    /* Estilos de la barra de navegacion */
    .main-header-bottom {
        border: solid 3px red;
        display: flex;
        justify-content: space-around;
    }

    .main-header-bottom ul {
        display: flex;
    }

    .main-header-bottom li {
        margin-left: 10px;
    }

    .main-header-bottom a {
        color: white;
    }

    .boton {
        display: flex;
        background-color: #3483FA;
        border-radius: 8px;
        margin-right: 1vw;
        text-align: center;
    }

}
/* ========================================================================================================================================== */
/* clase que muestra el menu */

.showMenu {
    display: block;
}

/* NOVEDADES SECTION */

.novedades {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.carrousel {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-carrousel-container {
    height: 100px;
    object-fit: cover;
}

.img-carrousel-container > img {
    height: 100%;
}

/* OFERTAS */

.ofertas {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.oferta {
    max-width: 550px;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
    border: 1px solid #7889dc;
    padding: .3rem;
    border-radius: .3rem;
}

.oferta-img-container {
    width: 150px;
    height: 100px;
    object-fit: cover;
}

.oferta-img-container > img {
    width: 100%;
    height: 100%;
}

.oferta-descripcion {
    font-size: 1rem;
}

.oferta-producto {
    font-size: 1rem;
}

.oferta-caracteristica {
    list-style: none;
    font-size: .7rem;
}

.oferta-precios {
    width: 150px;
}

.oferta-precio{
    font-size: 1.2rem;
}

.oferta-precio-antiguo{
    font-size: .8rem;
    text-decoration: line-through;
    font-style: italic;
}

.btn-comprar {
    margin-top: 1rem;
    padding: .5rem .3rem;
    text-align: center;
    border-radius: .3rem;
    background-color: #3483FA;
    color: white;
    border: 1px solid transparent;
    transition: background ease-in .2s ;
}

.btn-comprar:hover {
    background-color: white;
    color: #4d55b5;
    border-color: #4d55b5;
    cursor: pointer;
}

/* FOOTER */

footer {
    margin-top: 2rem;
    background-color: #eae7de;
}

.footer {
    
    height: 100px;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.redes {
    width: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .6rem;
}
