
/* GENERALES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    font-family: 'Lato';
}

.container {
    max-width: 100vw;
    width: 90%;
    margin: 0 auto;
}

.titulos {
    font-size: 1.5rem;
}

/* HEADER */

.header-arriba {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    background-color: aqua;
}

.logo-container {
    width: 25px;
    height: 25px;
    object-fit: cover;
}

.logo-container > img {
    width: 100%;
    height: 100%;
}

.header-icons  {
    display: none;
}

/* MENU */

.menu-links {
    list-style: none;
}


.menu-link > a{
    text-decoration: none;
}

.menu-link {
    height: 2rem;
    padding: .5rem;
}

.menu-link:hover {
    cursor: pointer;
    background-color: azure;
}

.menu {
    display: none;
    width: 100%;
    background-color: aquamarine;
    text-align: center;
}

/* clase que muestra el menu */

.showMenu {
    display: block;
}

/* NOVEDADES SECTION */

.novedades {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.carrousel {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-carrousel-container {
    height: 100px;
    object-fit: cover;
}

.img-carrousel-container > img {
    height: 100%;
}
