
/* GENERALES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    font-family: 'Lato';
}

.container {
    max-width: 1000px;
    width: 90vw;
    margin: 0 auto;
}

.titulos {
    font-size: 1.5rem;
}

/* HEADER */

.header-arriba {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
}

.logo-container {
    width: 25px;
    height: 25px;
    object-fit: cover;
}

.logo-container > img {
    width: 100%;
    height: 100%;
}

.header-icons  {
    display: none;
}

/* MENU */

.menu-links {
    list-style: none;
}


.menu-link > a{
    text-decoration: none;
}

.menu-link {
    height: 2rem;
    padding: .5rem;
}

.menu-link:hover {
    cursor: pointer;
}

.menu {
    display: none;
    width: 100%;
    text-align: center;
}

/* clase que muestra el menu */

.showMenu {
    display: block;
}

/* NOVEDADES SECTION */

.novedades {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.carrousel {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-carrousel-container {
    height: 100px;
    object-fit: cover;
}

.img-carrousel-container > img {
    height: 100%;
}

/* OFERTAS */

.ofertas {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.oferta {
    max-width: 550px;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
    border: 1px solid #7889dc;
    padding: .3rem;
    border-radius: .3rem;
}

.oferta-img-container {
    width: 150px;
    height: 100px;
    object-fit: cover;
}

.oferta-img-container > img {
    width: 100%;
    height: 100%;
}

.oferta-descripcion {
    font-size: 1rem;
}

.oferta-producto {
    font-size: 1rem;
}

.oferta-caracteristica {
    list-style: none;
    font-size: .7rem;
}

.oferta-precios {
    width: 150px;
}

.oferta-precio{
    font-size: 1.2rem;
}

.oferta-precio-antiguo{
    font-size: .8rem;
    text-decoration: line-through;
    font-style: italic;
}

.btn-comprar {
    margin-top: 1rem;
    padding: .5rem .3rem;
    text-align: center;
    border-radius: .3rem;
    background-color: #4d55b5;
    color: white;
    border: 1px solid transparent;
    transition: background ease-in .2s ;
}

.btn-comprar:hover {
    background-color: white;
    color: #4d55b5;
    border-color: #4d55b5;
    cursor: pointer;
}

/* FOOTER */

footer {
    margin-top: 2rem;
    background-color: #4d55b5;
}

.footer {
    
    height: 100px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.redes {
    width: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .6rem;
}
