

body {
  font-family: 'Lato';
  background-color: #ffffff;
  margin: 0;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center; 
}

/* Estilo para la caja de inicio de sesión */
.formulario-login {
  background-color: #363755;
  border-radius: 10px; /*borde redondeado*/
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /*sombra*/
  color: #fff;
  text-align: center;
  font-weight: bolder;
  padding: 20px;
  max-width: 400px;
  width: 90%; /* Reduce el ancho en pantallas más pequeñas */
}

/* Estilo para los campos de entrada de texto */
.input-campo {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.input-campo i {
  color: #7a77f5; /* Verde para los iconos */
  margin-right: 10px;
}

.input-campo input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #eee; /* Gris para los campos de entrada */
  color: #000; /* Texto negro */
}

/* Estilo para el botón de enviar */
.btn-enviar button {
  background-color: #4947e2; /* Verde para el botón */
  color: #fff; /* Texto blanco */
  border: none;
  border-radius: 5px; 
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer; /*cambia de puntero triangular a manito*/
  margin-top: 10px;
}

/* Estilo para los encabezados (H1 y H2) */
h1{
 color:#ee0e60
}

h2{

  font-weight: bold;

}

/* Estilo para etiquetas de formulario (labels) */
label {
  display: block;
  margin-top: 10px;
}

/* Estilo para el enlace de texto de regreso */
a {
  text-decoration: none; 
  color: #9800b3; /* Color del texto del enlace */
  font-weight: bold;
  font-size: large;
}

/* Estilo al pasar el mouse sobre el enlace */
a:hover {
  color:#3cb300 ; /* Cambiar el color del texto al pasar el mouse */
}
