* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Lato', sans-serif;     
}

header {
    background-color: #eae7de;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    position: fixed;
}

.logo-titulo {
    background-color: #eae7de;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    white-space: nowrap;
    cursor: pointer;
}

#logo {
    height: 100%;
}


.iconos-header {
    background-color: #eae7de;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;  
    justify-content: flex-end;
}

.iconos-header i {
    font-size: 30px;
    background-color: #eae7de;
    margin-right: 2vw;
    cursor: pointer;
    color: #3483FA;
    transition: all 1000ms;
}

.iconos-header i:hover {
    font-size: 40px;
    color: rgb(55, 206, 206);    
}

.barra {
    background-color: #eae7de;
    width: 100%;
    height: 30%;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2%;
    border-bottom: 2px solid rgb(204, 203, 203);
}

.escritorio {
    display: flex;
    background-color: #3483FA;    
    width: 120px;
    height: 35px;
    border: 5px solid #3483FA;
    border-radius: 20px;    
    justify-content: center;
    align-items: center; 
    margin-right: 1vw;     
    transition: all 1000ms;  
}

.escritorio:hover {
    background-color: rgb(55, 206, 206);
    border: 5px solid white;
}

.escritorio a {
    text-decoration: none;
    font-size: 12px;   
    color: white;
}

#carrito {
    display: none;
}


h1 {        
    font-size: 40px;
}


#monitor-imagen-1{
    display: flex;
    width: 80%;    
    margin: auto;
}

.selector-imagenes {
    display: flex;
    justify-content: center;
    gap: 10px; 
    height: 25px;   
}
    
#circulos-fotos {
    font-size: 15px;
    cursor: pointer;
    color: #3483FA;
    transition: all 500ms;   
}

#circulos-fotos:hover {
    font-size: 20px;
    color: rgb(55, 206, 206); 
}

.seccion-producto {    
    background-color: #eae7de;
    width: 95%;
    height: 250px;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
}

#nombre-producto {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.seccion-pagos {    
    background-color: #eae7de;
    width: 55%;
    height: 230px;    
}

#seleccion-titulo {
    font-size: 18px;
    height: 35px;
    font-style: italic;
    text-decoration: underline;
}

.metodos-pago {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 14px;
    font-style: italic;   
    margin: auto;
    
}

.pago1 {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 15px;
}

.pago1 h3{
width: 85%;
}

.pago2 {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 35px;   
}

.pago2 h3{
    width: 85%;
    }

.pago3 {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 35px;    
}

.pago3 h3{
    width: 85%;
    }

#circulos-pago {
        margin-top: 5px;
        display: flex;
        align-content: flex-start;
        cursor: pointer;
        transition: all 500ms;
        color: #3483FA;
}

#circulos-pago:hover {
    font-size: 20px;
    color: rgb(55, 206, 206); 
}

.seccion-compra {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #eae7de;
    width: 45%;
    height: 230px;
}

.precios {  
    width: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.precios h4 {
    font-size: 15px;
    font-style: italic;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 15px;
    animation: letras 8s infinite;
}

@keyframes letras {
    0% { color: black; }
    100% { color: rgb(55, 206, 206); }
}

#descuento {
    font-size: 25px;
    height: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: end;
    color: #3483FA;
}

#precio-original {
    display: flex;
    justify-content: center;
    text-decoration: line-through;
    font-size: medium;    
}

.contenedor-comprar {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 45px;
}

.comprar {
    display: flex;
    background-color: #3483FA;    
    width: 125px;
    height: 40px;
    border: 5px solid #3483FA;
    border-radius: 20px;    
    justify-content: center;
    transition: all 1000ms;       
}

.comprar:hover {
    background-color: rgb(55, 206, 206);
    border: 5px solid white;
}

.comprar a {
    text-decoration: none;
    font-size: 20px;   
    color: white;
}

#camion {    
    margin: auto;
    margin-bottom: 15px;
    color: #3483FA;
    position: relative;
    animation: camion 10s infinite;
}

@keyframes camion {
    0% { right: 30px; color: rgb(55, 206, 206); }
    100% { right: 0px; color: #3483FA; }
}

#envio-gratis {         
    font-size: 14px;
    font-style: italic;
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
}

footer {
    background-color: #eae7de;
    width: 95%;
    height: 745px;
    margin: auto;
    border-radius: 10px;
}

.seccion-acerca-producto
{            
    margin-top: 25px;
    padding: 15px;    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
}

.seccion-acerca-producto h3 {
    font-size: 20px;
    width: 100%;
    height: 40px;
    
}

.seccion-acerca-producto p {
    font-size: 15px;
    font-style: italic;
    width: 100%;
    height: 135px;
}

.seccion-acerca-producto ul {
    font-size: 14px;
    width: 95%;
    height: 500px;
    margin-top: 30px;
}

.lista {    
    width: 100%;
    padding-left: 18px;
}

.wsp-ico {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}

#wsp {
    
    background-color: rgb(112, 241, 112);
    color: white;
    font-size: 12vw;
    width: 12vw;
    height: 12vw;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 450ms; 
}

#wsp:hover {
    font-size: 13vw;
    width: 13vw;
    height: 13vw;
}

@media (min-width: 768px) {

    header {
        height: 10vh;
        align-items: flex-start;
    }

    .logo-titulo {
        height: 70%;
        width: 55%;
        display: flex;
        justify-content: flex-end;    
    }

    .iconos-header {        
       height: 70%;
       width: 45%;
    }

    .iconos-header i {
        font-size: 25px;
    }

    .barra {
       display: flex;
    }   

    #menu {
        display: none;
    }

    #carrito {
        display: block;        
    }

    .contenedor-boton {
        display: block;       
    }

    .escritorio {
        margin-bottom: 5%;
    }
    

    .pago1 {
        width: 90%;
        margin-left: 30%;
    }

    .pago2 {
        width: 90%;
        margin-left: 30%;
    }

    .pago3 {
        width: 90%;
        margin-left: 30%;
    }

    #seleccion-titulo {
        margin-left: 20%;
    }

    .seccion-compra {
        padding-right: 15%;
    }
   
    #wsp {
        font-size: 4vw;
        width: 4vw;
        height: 4vw;
    }

    #wsp:hover {
        font-size: 6vw;
        width: 6vw;
        height: 6vw;
    }

    main {
        max-width: 1000px;
        margin: auto;
    }

    footer {
        max-width: 950px;
        margin: auto;
    }
    

}
