*{
    box-sizing: border-box;
}
/* Estilos generales */
body {
    font-family: 'Lato', sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

header {
    background-color: #eae7de;
    color: black;
    text-align: center;
    padding: 20px;
}

main {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(240, 240, 240);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 40px;
}

form {
    text-align: left;
    padding-right: 20px;
}

/* Estilos para los campos del formulario */
section {
    margin-bottom: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.form-text{
    width: 100%;
    padding: 10px;
    border: solid 1px #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #eae7de;
    position: relative;
    left: 10px;
}

.form-check{
    margin-right: 0px;
    display: flex;
    justify-content: space-around
}

/* Estilo para Botones Registro, Login y iconos */

.botonReg-log{
    background-color: #3483FA;
    color: white;
    border: 5px solid #3483FA;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
}

.botonReg-log:hover {
    background-color: rgb(55, 206, 206);
    border: 5px solid white;
    font-family: 'Lato', sans-serif;
}

.button{
    display: flex;
    justify-content: space-around;
}

.login-auto{
    text-align: center;
    align-items: center;
}

.login-auto .icono {
    color: #3483FA;
    background-color: white;
}

.icono{
    color: #5a03d5;
    font-size: 16px;
    margin-right: 10px;
    text-align: center;
    border-radius: 5px;
}

.icono:hover{
    cursor: pointer;
    color: #f0f0f0;
    background-color: rgb(55, 206, 206);
}

/* Estilo para el Logo */

.logo{
    border: solid 3px rgb(209, 209, 209);
    width: 70vh;
}

#wsp {
    
    background-color: rgb(112, 241, 112);
    color: white;
    font-size: 4vw;
    width: 4vw;
    height: 4vw;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 15px;
    right: 15px;
    transition: all 450ms;
}

#wsp:hover {
    font-size: 6vw;
    width: 6vw;
    height: 6vw;
}

@media (max-width: 767px) {

    main {
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .logo{
        border: solid 3px rgb(209, 209, 209);
        width: 100%;
    }

    #wsp {
        font-size: 12vw;
        width: 12vw;
        height: 12vw;
    }

    #wsp:hover {
        font-size: 14vw;
        width: 14vw;
        height: 14vw;
    }
}