*{
    box-sizing: border-box;
}
/* Estilos generales */
body {
    font-family: 'Lato', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #363755;
    color: #fff;
    text-align: center;
    padding: 20px;
}

main {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

form {
    text-align: left;
    padding-right: 20px;
}

/* Estilos para los campos del formulario */
section {
    margin-bottom: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.form-text{
    width: 100%;
    padding: 10px;
    border: solid 1px #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-check{
    margin-right: 0px;
    display: flex;
    justify-content: space-around
}

/* Estilo para Botones Registro, Login y iconos */

.botonReg-log{
    background-color: #363755;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.botonReg-log:hover {
    background-color: #4947e2;
    color: black;
    font-family: 'Lato', sans-serif;
}

.button{
    display: flex;
    justify-content: space-around;
}

.login-auto{
    text-align: center;
    align-items: center;
}

.icono{
    color: #5a03d5;
    font-size: 16px;
    margin-right: 10px;
    text-align: center;
    border-radius: 5px;
}

.icono:hover{
    cursor: pointer;
    color: #f0f0f0;
    background-color: #5a03d5;
}

/* Estilo para el Logo */

.logo{
    border: solid 3px red;
    width: 100vh;
}
