<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head') %>
    <title>Inicio de sesión</title>
    <!-- <link rel="stylesheet" href="./css/login.css"> -->
    <link rel="stylesheet" href="./css/styles.css">
  </head>

  <body id="login">
    <%- include('./partials/header') %>

    <main class="main-login">
      <h1>Ingresa a tu cuenta</h1>
      <section class="formulario-login">
        <h2>LOGIN</h2>
        <form action="#" id="formLogin">
          <label for="nombreUsuario">Nombre de usuario</label>
          <div class="input-campo">
            <i class="fa-solid fa-user"></i>
            <input
              type="text"
              id="nombreUsuario"
              name="nombreUsuario"
              placeholder="Tu usuario"
              required
              minlength="5"
              maxlength="35"
            />
          </div>

          <label for="contraseniaUsuario">Contraseña</label>
          <div class="input-campo">
            <i class="fa-solid fa-lock"></i>
            <input
              type="password"
              id="contraseniaUsuario"
              name="contraseniaUsuario"
              placeholder="Tu contraseña"
              required
              minlength="8"
              maxlength="16"
            />
          </div>
          <div class="btn-enviar">
            <button type="submit">Ingresar</button>
          </div>
        </form>
      </section>
      
      <p><a href="/register">¿Aun no tienes cuenta? REGISTRATE</a></p>
      <p><a href="/">Volver a la página de inicio</a></p>
    </main>
    
    <div class="footer-login">
      <%- include('./partials/footer') %>
    </div>

    <%- include('./partials/wsp') %>

  </body>
</html>
