<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Incorrecta</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body id="notFound-body">

    <h1>Pagina no existente!!!  </h1>  

</body>

</html>