<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <!-- <link rel="stylesheet" href="./css/productDetail.css"> -->
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body id="body-crear-producto">
    
    <%- include('./partials/header') %>

    <main id="main-crear-producto">
        <h1>Creación de productos</h1>

        <form action="/products/create" method="POST" id="form-create-product" enctype="">
            <div>
                <label for="">Producto:</label>
                <input type="text" name="nombreProducto" id="" placeholder="Ingresa el nombre del Producto" required>
            </div>
            <div>
                <label for="">Precio:</label>
                <input type="number" name="precio" id="" placeholder="Ingresa el precio del Producto" required>
            </div>
        
            <div>
                <label for="">Categoría:</label>
                <select name="tipoProducto" id="" required>
                    <option value="" selected disabled>Selecciona una categoría</option>
                    <option value="Monitores">Monitores</option>
                    <option value="Placas de Video">Placas de Video</option>
                    <option value="Procesadores">Procesadores</option>
                    <option value="Almacenamiento">Almacenamiento</option>
                </select>
            </div>
            <div class="pc-radio">
                <label for="si-stock"><input type="radio" name="stock" id="si-stock" value="true" required>En Stock</label>
                <label for="no-stock"><input type="radio" name="stock" id="no-stock" value="false">Sin Stock</label>
            </div>
            <div>
                <label for="">Descripción del producto:</label>
                <textarea name="descripcion" id="" cols="30" rows="10" placeholder="Escribe aquí..." required></textarea>
            </div>
            <!-- <div id="pc-subir">
                <label for="">Subir imágenes:</label>
                <input type="file" name="subir-imagenes" id="" accept=".jpg, .png" multiple required>
            </div> -->

            <div>
                <label for="">Imagen:</label>
                <input type="text" name="image" id="" placeholder="Ingresa la url de la imagen..." required>
            </div>
            
            <div id="pc-syr">                
                <button type="submit">Guardar</button>
                
                <button type="reset">Borrar</button>
            </div>
        </form>
    </main>


    <%- include('./partials/footer') %>

    <%- include('./partials/wsp') %>
</body>
</html>