<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('./partials/head.ejs')%>
    <!-- <link rel="stylesheet" href="./css/productCart.css"> -->
    <link rel="stylesheet" href="./css/styles.css">   
</head>

<body id="product-cart">
    <!-- Header -->
    <%- include('./partials/header.ejs')%>

    
    <main id="product-cart">
        <section id="productBox">
            <article>
                <div class="imagen"><img src="./images/cpuCarrito.jpg" alt="cpu"></div>
                <div class="contenido">
                    <ul>
                        <li><h3>AMD Ryzen 5</h3></li>
                        <li><p>Modelo: AMD Ryzen 5 5500</p></li>
                        <li><p class="preciofinal">Precio: $99999.99</p></li>
                        <li>
                            <p>
                                <label for="cantidad">Cantidad:</label>
                                <select name="cantidad" id="cantidad">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3" >3</option>
                                    <option value="4">4</option>
                                </select>
                            </p>
                        </li>
                        <li><button type="reset" value="Borrar" class="borrar">Eliminar🗑️</button></li>
                    </ul>
                </div>
            </article>
            <article>
                <div class="imagen"><img src="./images/monitorCarrito.png" alt="monitor"></div>
                <div class="contenido">
                    <ul>
                        <li><h3>Monitor 27 Gigabyte VA 165HZ</h3></li>
                        <li><p>Modelo: Gigabyte G27FC-SA</p></li>
                        <li><p class="preciofinal">Precio: $99999.99</p></li>
                        <li>
                            <p>
                                <label for="cantidad">Cantidad:</label>
                                <select name="cantidad" id="cantidad">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3" >3</option>
                                    <option value="4">4</option>
                                </select>
                            </p>
                        </li>
                        <li><button type="reset" value="Borrar" class="borrar">Eliminar🗑️</button></li>
                    </ul>
                </div>
            </article>
            <article>
                <div class="imagen"><img src=".//images/motherCarrito.jpg" alt="mother"></div>
                <div class="contenido">
                    <ul>
                        <li><h3>Motherboard Asus</h3></li>
                        <li><p>Modelo: A320M K Prime AM4</p></li>
                        <li><p class="preciofinal">Precio: $99.99</p></li>
                        <li>
                            <p>
                                <label for="cantidad">Cantidad:</label>
                                <select name="cantidad" id="cantidad">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3" >3</option>
                                    <option value="4">4</option>
                                </select>
                            </p>
                        </li>
                        <li><button type="reset" value="Borrar" class="borrar">Eliminar🗑️</button></li>
                    </ul>
                </div>
            </article>

        </section>
        <section id="productPrice">
            <article>
                <div class="discount">
                    <h3>TU COMPRA</h3>
                    <h5>¿Tenes algún cupón de descuento?</h5>
                    <input type="text" placeholder="Ingresa tu cupón aquí...">
                    <button type="submit" value="validarCupon" class="enviar">Validar cupón</button>
                </div>
                <div class="finalPrice">
                    <h4>TOTAL COMPRA</h4>
                    <h5 class="preciofinal">$999</h5>
                    <button type="submit" value="Enviar" class="enviar">Realizar compra</button>
                </div>

            </article>
        </section>
    </main>

  
    <!-- footer -->
    <%- include('./partials/footer.ejs')%>
    
    <%- include('./partials/wsp') %>

    <script src="../public/js/productCart.js"></script>
</body>

</html>