<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Productos</title>
    <!-- <link rel="stylesheet" href="./css/productDetail.css"> -->
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include('./partials/header') %>

    <main id="products-main">

        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis consequuntur laborum modi unde odit libero, reiciendis quae accusantium cupiditate cumque animi quibusdam in atque dolorum veritatis alias velit illo enim.</h1>

    </main>






    <%- include('./partials/footer') %>

    <%- include('./partials/wsp') %>
</body>
</html>