<!DOCTYPE html>
<html>

<head>
    <%- include('./partials/head') %>
        <title>Detalle del producto</title>
        <!-- <link rel="stylesheet" href="./css/productDetail.css"> -->
        <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <%- include('./partials/header') %>
    
    <main id="main-dudas">
        <h1>Preguntas Frecuentes</h1>
        <h2>¿Cómo puedo rastrear mi pedido?</h2>
        <p>Una vez que tu pedido ha sido enviado, recibirás un correo electrónico con un número de seguimiento. Puedes usar
            este número para rastrear tu pedido en la página web de la empresa de envío.</p>
        <h2>¿Cuál es el tiempo de entrega?</h2>
        <p>El tiempo de entrega varía dependiendo de tu ubicación. Normalmente, deberías recibir tu pedido en un plazo de
            5-7 días hábiles.</p>
        <h2>¿Qué métodos de pago aceptan?</h2>
        <p>Aceptamos tarjetas de credito y debito, tambien transferencias bancarias y mercadopago</p>
        <h2>¿Puedo devolver o cambiar un artículo?</h2>
        <p>Sí, aceptamos devoluciones y cambios dentro de los 30 días posteriores a la recepción del pedido. Los artículos
            deben estar en su estado original y en su embalaje original.</p>
    </main>

    <%- include('./partials/footer') %>
    <%- include('./partials/wsp') %>
</body>

</html>