<footer>
    <section>
        <h3 class="guia">Guía</h3>
        <a href="/aboutUs">
            <p>¿Quienes Somos?</p>
        </a>
        <a href="/questions">
            <p>Preguntas Frecuentes</p>
        </a>

        <a href="/payMethods">
            <p>Medios de pago</p>
        </a>
    </section>
    <section>
        <h4 class="redes">Redes Sociales</h4>
        <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://facebook.com/"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://gmail.com"><i class="fa-regular fa-envelope"></i></a>
        <a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>



    </section>
</footer>