
<header>

    <section class="logo-titulo">

        <img id="logo" src="/images/logo-original.jpg" alt="Logo de la Página">
        
        <a href="/"><h1 id="titulo">DH Tech</h1></a>

    </section>

    <section class="iconos-header">
        <div id="lupa">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>

        <div id="carrito">
            <a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
        
        <div id="user">
            <a href="/login"><i class="fa-solid fa-user"></i></a>
        </div>               

        <div id="menu">
            <i class="fa-solid fa-bars"></i>
        </div>            
    </section>
    

    <nav class="barra">
        
        <div class="boton">
            <div class="escritorio">
                <a href="/products">Productos</a>
            </div>
        </div>

        <div class="boton">
            <div class="escritorio">
                <a href="#">Monitores</a>
            </div>
        </div>

        <div class="boton">
            <div class="escritorio">
                <a href="#">Placas de Video</a>
            </div>
        </div>

        <div class="boton">
            <div class="escritorio">
                <a href="#">Procesadores</a>
            </div>
        </div>

        <div class="boton">
            <div class="escritorio">
                <a href="#">Almacenamiento</a>
            </div>
        </div>

    </nav>            
         
</header>