<header>

    <section class="logo-titulo">

        <img id="logo" src="./images/logo-original.jpg" alt="Logo de la Página">
        
        <h1 id="titulo">DH Tech</h1>

    </section>

    <section class="iconos-header">
        <div id="lupa">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        
        <div id="user">
            <i class="fa-solid fa-user"></i>
        </div>
        
        <div id="carrito">
            <i class="fa-solid fa-cart-shopping"></i>
        </div>

        <div id="menu">
            <i class="fa-solid fa-bars"></i>
        </div>            
    </section>
    

    <nav class="barra">
        
        <div class="boton">
            <div class="escritorio">
                <a href="#">Categorías</a>
            </div>
        </div>

        <div class="boton">
            <div class="escritorio">
                <a href="#">Armá tu PC</a>
            </div>
        </div>

        <div class="boton">
            <div class="escritorio">
                <a href="#">Notebooks</a>
            </div>
        </div>

        <div class="boton">
            <div class="escritorio">
                <a href="#">Monitores</a>
            </div>
        </div>

        <div class="boton">
            <div class="escritorio">
                <a href="#">Placas de Video</a>
            </div>
        </div>

        <div class="boton">
            <div class="escritorio">
                <a href="#">Microprocesadores</a>
            </div>
        </div>

    </nav>            
         
</header>